<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sample Kitchen Sink App</title>

  <!-- the stylesheet will come from public/styles.css -->
  <link rel="stylesheet" href="/styles.css" type="text/css">

  <!-- the jQuery file will come from public/jquery-2.1.3.min.js -->
  <script type="text/javascript" charset="utf-8" src="/jquery-2.1.3.min.js"></script>
</head>
<body>
  <h1>Kitchen Sink</h1>

  <h2>Dynamic Route</h2>

  <p>This is a dynamic <%= value %>.</p>

  <p>(Hint: try changing the last part of the URL in the browser bar to something else,
     like, say <a href='/dynamic/fish'>fish</a>.
  </p>

  <p>Back <a href='/'>home</a>.</p>

</body>
</html>
